/*normalize*/
a{
	color: #fff;
	text-decoration: none;
}

#about,
#meta,
#qangineer,
#advatages{
	position: relative;
	padding: 2% 0;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

/*#about footer,
#meta footer,
#qangineer footer,
#advatages footer{
	position: absolute;
	bottom: 3%;
	left: 0;
	width: 100%;
}*/
/*-----------------------ABOUT-----------------------*/
#about{
	background-image: url('../img/about_bg.jpg');
}

.logo{
	width: 76px;
	height: 46px;
	margin-top: 20px;
	background-image: url('../img/logo.png');
	background-position: center center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.menu{
	padding: 0;
	text-align: center;
	color: #000;
	cursor: context-menu;
}

.menu li{
	display: inline-block;
	padding: 0 2%;
	color: #fff;
	font-family: 'PFAgoraSansPro', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 49px;
	text-transform: uppercase;
	list-style-type: none;
	z-index: 2;
}

.menu li a{
	color: inherit;
	text-decoration: none;
}

.menu li a:hover{
	color: #b59225;
	-webkit-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

.registration{
	text-align: right;
}

.registration span{
	margin-right: 5px;
	color: #a78824;
	font-size: 16px;
	font-weight: bold;
}

.registration a{
	color: #fff;
	font-family: 'PFAgoraSansPro', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 49px;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
}

.registration a:hover{
	color: #b59225;
	-webkit-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

.main	{
	position: relative;
	padding: 13% 0;
}

h1{
	color: #fff;
	font-family: 'PFAgoraSansPro', sans-serif;
	font-size: 8em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.05em;
}

.main h2{
	margin-top: 0;
	color: #c59332;
	font-family: 'PFAgoraSansPro', sans-serif;
	font-size: 1.05em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.08em;
}

.main p{
	width: 35%;
	margin: 2% auto 0 auto;
	color: #fff;
	font-family: 'PFAgoraSansPro', sans-serif;
	font-size: 0.95em;
	font-weight: 400;
	line-height: 29px;
	text-align: center;
}
.buttons{
	position: absolute;
	top: 50%;
	right: 4%;
	margin-top: -4vw;
}

.buttons .buttons_up,
.buttons .buttons_down {
	width: 4vw;
	height: 4vw;
	border-radius: 50% ;
	background-image: url('../img/buttons.png');
	background-repeat: no-repeat;
	-webkit-background-size: 4vw;
	background-size: 4vw;
	opacity: 0.5;
	cursor: pointer;
}

.buttons .buttons_up:hover,
.buttons .buttons_down:hover {
	background-color: rgba(0,0,0, 0.3);
	opacity: 1;
	-webkit-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}

.buttons .buttons_up{
	background-position: 0 0.60vw;
}
.buttons .buttons_down{
	background-position: 0.1vw -4.75vw;
}

.social{
	margin-left: 8%;
}

.social li{
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	line-height: 45px;
	vertical-align: middle;
}

.social li a{
	display: inline-block;
	width: 45px;
	height: 45px;
	border: 1px solid #adadad;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}

.social li a:hover{
	background-color: rgba(0,0,0, 0.5);
	-webkit-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}

/*-------------------META-------------------*/
.meta_left{
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 50%;
	height: 100%;
}

.meta_left{
	background-color: #c59332;
}

#meta .registration a{
	color: #000;
}

#meta .registration a:hover{
	color: #b59225;
}
#meta .main{
	margin: 8% 0;
	background-image: url('../img/meta_bg.svg');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	background-size: contain;
}

#meta .main h3{
	margin: 0;
	padding-right: 15px;
	color: #fff;
	font-family: 'PFAgoraSansPro', sans-serif;
	font-size: 5em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 0.05em;
}

#meta .main h3 span{
	margin: 0 0.13em;
}

#meta .main h3:last-child{
	letter-spacing: 0.10em;
}

#meta .main p{
	width: 75%;
	margin: 0;
	padding: 3% 0 0 8%;
	color: #494949;
	font-family: 'PFAgoraSansPro', sans-serif;
	font-size: 1.75em;
	font-weight: 400;
	line-height: 1.25em;
	text-align: left;
}

#meta h4{
	padding-left: 8%;
	color: #494949;
	font-family: 'PFAgoraSansPro', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 73px;
	text-transform: uppercase;
}

.section__aside{
	position: relative;
	height: 100%;
}
.section__name,
.section__number{
	position: absolute;
	top: 0;
	left: -15px;
	color: #e5c354;
	font-family: 'PFAgoraSansPro', sans-serif;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.section__name{
	top: 105px;
}

.section__number{
	left: -10px;
	width: 100px;
	border-top: 1px solid #e5c354;
	font-size: 4em;
	font-weight: 500;
	text-transform: uppercase;
	text-align: right;
}
.section__aside .menu{
	margin: 0;
	position: absolute;
	top: -200px;
	left: 7px;
}

.section__aside .menu li{
	display: block;
	width: 100px;
	margin-bottom: 75%;
	color: #000;
	font-size: 0.85em;
	line-height: 1em;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

footer .section__number{
	top: 60px;
	left: -22px;
	width: 50px;
}

footer .section__number span{
	position: absolute;
	color: #fff;
	font-size: 12px;
}
/*----------------QA engineer----------------*/
#qangineer .main {
    padding: 9% 0;
}
#qangineer{
	background-image: url('../img/qaengineer_bg.jpg');
}

#qangineer .section__name {
  top: 250px;
  width: 125px;
  left: -58px;
}

#qangineer .section__number {
  top: 125px;
}

#qangineer h3{
	color: #fff;
	font-size: 4.5em;
	text-align: center;
}

#qangineer h3 span{
	border-top: 3px solid #e5c354;
}

#qangineer h4{
	padding-left: 3.5vw;
	color: #ddb548;
	font-size: 3em;
}

#qangineer .main p {
	margin: 5% auto;
  width: 75%;
  text-align: left;
}

#qangineer .main p{
	color: #b3b8c1;
}

#qangineer .main p span{
	color: #fff;
}
.engineer__info{
	display: table;
	width: 70%;
	margin: 15px auto;
}

.ingineer__info--pic,
.ingineer__info--descr{
	display: table-cell;
	vertical-align: middle;
}
ingineer__info--pic{
	width: 35%;
}
.ingineer__info--pic span{
	display: block;
	width: 55px;
	height: 55px;
	border: 1px solid #b3b8c1;
	background-image: url('../img/hat.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 35px;
	background-size: 35px;
}

.ingineer__info--descr p{
	line-height: 1.35em;
}

.ingineer__info--descr p span {
	margin-right: 15px;
	color: #fff;
	font-size: 1.25em;
}

#qangineer .section__aside .menu {
  top: -40px;
  color: #fff;
}

#qangineer .section__aside .menu li{
  color: #fff;
}

#qangineer footer .section__number {
  top: -22px;
}

/*-----------------Advantages-----------------*/
#advatages .main{
	padding: 5% 0;
}
#advatages .logo{
	background-image: url('../img/logo-black.png');
}

#advatages .registration a{
	color: #000;
}

#advatages .registration a:hover{
	color: #b59225;
}

#advatages .section__name {
  top: 325px;
  left: -33px;
}

#advatages .section__number {
  top: 200px;
}

#advatages .section__aside .menu {
  top: -25px;
}

.clicker{
	padding-top: 10%;
	height: 550px;
	background-image: url('../img/advantages_bg.svg');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 70%;
	background-size: 70%;
}

.clicker__picture{
	width: 100%;
	height: 75px;
	background-image: url('../img/hat.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 75px;
	background-size: 75px;
}

.clicker__content{
	display: table;
}

.clicker__content--left,
.clicker__content--right {
	display: table-cell;
	vertical-align: middle;
}

.clicker__content--left{
	width: 35%;
}

.clicker__content--left ul {
	margin: 15% 0 0 0;
	padding: 0;
	list-style-type: none;
}

.clicker__content--left ul li{
	margin-bottom: 5%;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}

.clicker__content--left ul li span{
	float: right;
	margin-right: 12%;
}

.clicker__content--left ul .active{
	color: #c59332;
}

.clicker__content--right h3{
	margin: 0;
	padding-top: 3%;
	color: #000;
	font-size: 5em;
	font-weight: 500;
}

.clicker__content--right p{
	width: 90%;
	margin: 1% 0; 
	padding: 1%;
	color: #000;
	font-size: 0.95em;
	text-align: left;
	line-height: 1.75em;
}

#advatages footer .section__number {
  top: 0;
  
}

#advatages footer .section__number span{
	color: #000;
}