@-webkit-keyframes start_start_circle_search {
    0% {
    	width: 40px;
    	height: 40px;
    	top: calc(50% - 20px);
    	left: calc(50% - 20px);
    }
    15%{
    	width: 60px;
    	height: 60px;
    	top: calc(50% - 30px);
    	left: calc(50% - 30px);
    }
    30%{
    	width: 40px;
    	height: 40px;
    	top: calc(50% - 20px);
    	left: calc(50% - 20px);
    }
    45%{
    	width: 60px;
    	height: 60px;
    	top: calc(50% - 30px);
    	left: calc(50% - 30px);
    }
    60%{
    	width: 40px;
    	height: 40px;
    	top: calc(50% - 20px);
    	left: calc(50% - 20px);
    }
    75%{
    	width: 60px;
    	height: 60px;
    	top: calc(50% - 30px);
    	left: calc(50% - 30px);
    }
    100%{
    	width: 400px;
    	height: 400px;
    	top: calc(50% - 200px);
    	left: calc(50% - 200px);
    } 
}

@keyframes start_circle_search {
    0% {
    	width: 40px;
    	height: 40px;
    	top: calc(50% - 20px);
    	left: calc(50% - 20px);
    }
    15%{
    	width: 60px;
    	height: 60px;
    	top: calc(50% - 30px);
    	left: calc(50% - 30px);
    }
    30%{
    	width: 40px;
    	height: 40px;
    	top: calc(50% - 20px);
    	left: calc(50% - 20px);
    }
    45%{
    	width: 60px;
    	height: 60px;
    	top: calc(50% - 30px);
    	left: calc(50% - 30px);
    }
    60%{
    	width: 40px;
    	height: 40px;
    	top: calc(50% - 20px);
    	left: calc(50% - 20px);
    }
    75%{
    	width: 60px;
    	height: 60px;
    	top: calc(50% - 30px);
    	left: calc(50% - 30px);
    }
    100%{
    	width: 400px;
    	height: 400px;
    	top: calc(50% - 200px);
    	left: calc(50% - 200px);
    } 
}

/* Label animation */
@-webkit-keyframes start_label {
	0%{
			visibility: hidden;
		}
	74%{
			display: block;
			width: 0%;
			margin: 0% auto;
			padding-top: 0px;
			color: #fff;
			font-size: 0vw;
			text-align: center;
			visibility: visible;
			visibility: hidden;
		}
	75%{
			display: block;
			width: 5%;
			margin: 0% auto;
			padding-top: 15px;
			color: #fff;
			font-size: 0.35vw;
			text-align: center;
			visibility: visible;
		}

	100%{
			display: block;
			width: 50%;
			margin: 5% auto;
			padding-top: 77px;
			color: #fff;
			font-size: 1.75vw;
			text-align: center;
		}
}

@keyframes start_label {
	0%{
			display: block;
			width: 0%;
			margin: 0% auto;
			padding-top: 0px;
			color: #fff;
			font-size: 0vw;
			text-align: center;
			visibility: visible;
			visibility: hidden;
		}
	74%{
			display: block;
			width: 0%;
			margin: 0% auto;
			padding-top: 0px;
			color: #fff;
			font-size: 0vw;
			text-align: center;
			visibility: visible;
			visibility: hidden;
		}
	75%{
			display: block;
			width: 5%;
			margin: 0% auto;
			padding-top: 15px;
			color: #fff;
			font-size: 0.1vw;
			text-align: center;
			visibility: visible;
		}
	100%{
			display: block;
			width: 50%;
			margin: 5% auto;
			padding-top: 77px;
			color: #fff;
			font-size: 1.75vw;
			text-align: center;
			visibility: visible;
		}
}
/* Label_city animation */

@-webkit-keyframes start_label_city {
	0%{
			visibility: hidden;
		}
	74%{
			display: block;
			width: 0%;
			margin: 0% auto;
			padding-top: 0;
			color: #fff;
			font-size: 0vw;
			text-align: center;
			visibility: visible;
			visibility: hidden;
		}
	75%{
			display: block;
			width: 5%;
			margin: 0% auto;
			padding-top: 0;
			color: #fff;
			font-size: 0.35vw;
			text-align: center;
			visibility: visible;
		}

	100%{
			display: block;
			width: 50%;
			margin: 5% auto;
			padding-top: 77px;
			color: #fff;
			font-size: 1.75vw;
			text-align: center;
		}
}

@keyframes start_label_city {
	0%{
			display: block;
			width: 0%;
			margin: 0% auto;
			padding-top: 0px;
			color: #fff;
			font-size: 0vw;
			text-align: center;
			visibility: visible;
			visibility: hidden;
		}
	74%{
			display: block;
			width: 0%;
			margin: 0% auto;
			padding-top: 0;
			color: #fff;
			font-size: 0vw;
			text-align: center;
			visibility: visible;
		}

	75%{
			display: block;
			width: 5%;
			margin: 0% auto;
			padding-top: 0;
			color: #fff;
			font-size: 0.1vw;
			text-align: center;
			visibility: visible;
		}
	100%{
			display: block;
			width: 50%;
			margin: 5% auto;
			padding-top: 0;
			color: #fff;
			font-size: 1.75vw;
			text-align: center;
			visibility: visible;
		}
}
/* select */

@-webkit-keyframes start_select {
	0%{
			visibility: hidden;
		}
	74%{
			display: block;
    	width: 0;
    	margin: 0 auto;
			visibility: hidden;
		}
	75%{
		display: block;
    width: 1%;
    margin: 1% auto;
		visibility: visible;
	}
	100%{
		display: block;
    width: 35%;
    margin: 5% auto;
		visibility: visible;
	}
}

@keyframes start_select {
	0%{
			visibility: hidden;
		}
	74%{
			display: block;
    	width: 0;
    	margin: 0 auto;
			visibility: hidden;
		}
	75%{
		display: block;
    width: 1%;
    margin: 1% auto;
		visibility: visible;
	}
	100%{
		display: block;
    width: 35%;
    margin: 5% auto;
		visibility: visible;
	}
}

/* Button */
@-webkit-keyframes button_select {
	0%{
			visibility: hidden;
		}
	74%{
			display: block;
			width: 0;
			margin: 0 auto;
			padding: 0;
			background-color: transparent;
			font-size: 0vw;
			text-transform: uppercase;
			visibility: hidden;
		}
	75%{
			display: block;
			width: 1%;
			margin: 1% auto;
			padding: 0;
			background-color: transparent;
			font-size: 0.01vw;
			text-transform: uppercase;
			visibility: visible;
		}
	100%{
			display: block;
			width: 25%;
			margin: 7% auto;
			padding: 1% 2%;
			background-color: transparent;
			font-size: 1vw;
			text-transform: uppercase;
		}
}
@keyframes button_select {
	0%{
			visibility: hidden;
		}
	74%{
			display: block;
			width: 0;
			margin: 0 auto;
			padding: 0;
			background-color: transparent;
			font-size: 0vw;
			text-transform: uppercase;
			visibility: hidden;
		}
	75%{
			display: block;
			width: 1%;
			margin: 1% auto;
			padding: 0;
			background-color: transparent;
			font-size: 0.01vw;
			text-transform: uppercase;
			visibility: visible;
		}
	100%{
			display: block;
			width: 25%;
			margin: 7% auto;
			padding: 1% 2%;
			background-color: transparent;
			font-size: 1vw;
			text-transform: uppercase;
		}
}

/* circle animation */

@-webkit-keyframes start_cirgle {
	0%{
			visibility: hidden;
		}
	50%{
			top: calc(50% - 15px);
    	left: calc(50% - 15px);
    	width: 30px;
    	height: 30px;
			visibility: hidden;
		}
	75%{
			top: calc(50% - 30px);
    	left: calc(50% - 30px);
    	width: 59px;
    	height: 59px;
			visibility: hidden;
	}
		76%{
			top: calc(50% - 40px);
    	left: calc(50% - 40px);
    	width: 80px;
    	height: 80px;
			visibility: visible;
	}
	100%{
			top: calc(50% - 220px);
    	left: calc(50% - 220px);
    	width: 440px;
    	height: 440px;
	}

@keyframes start_cirgle {
	0%{
			visibility: hidden;
		}
	50%{
			top: calc(50% - 15px);
    	left: calc(50% - 15px);
    	width: 30px;
    	height: 30px;
			visibility: hidden;
		}
	75%{
			top: calc(50% - 30px);
    	left: calc(50% - 30px);
    	width: 59px;
    	height: 59px;
			visibility: hidden;
	}
		76%{
			top: calc(50% - 40px);
    	left: calc(50% - 40px);
    	width: 80px;
    	height: 80px;
			visibility: visible;
	}
	100%{
			top: calc(50% - 220px);
    	left: calc(50% - 220px);
    	width: 440px;
    	height: 440px;
	}
}