
.container{
	position: relative;
	width: 600px;
	height: 600px;
	margin: 4% auto;
	margin-bottom: 0;
	overflow: hidden;
}

.cirgle{
	position: absolute;
	top: calc(50% - 220px);
	left: calc(50% - 220px);
	width: 440px;
	height: 440px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px dotted #000;
	-webkit-animation: start_cirgle 4s 1; 
    			animation: start_cirgle 4s 1;
}

.circle_search{
	position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background-color: #000;
	-webkit-animation: start_circle_search 4s 1; 
    			animation: start_circle_search 4s 1;
}

label{
	display: block;
	width: 50%;
	margin: 5% auto;
	padding-top: 77px;
	color: #fff;
	font-size: 1.75vw;
	text-align: center;
	-webkit-animation: start_label 5s 1; 
    			animation: start_label 5s 1;
}

label[for="city"]{
	padding: 0;
	-webkit-animation: start_label_city 5s 1; 
    			animation: start_label_city 5s 1;
}

select{
	display: block;
	width: 35%;
	margin: 5% auto;
	-webkit-animation: start_select 5s 1; 
    			animation: start_select 5s 1;
}

button{
	display: block;
	width: 25%;
	margin: 7% auto;
	padding: 1% 2%;
	color: #fff;
	background-color: transparent;
	font-size: 1vw;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-animation: button_select 5s 1; 
    			animation: button_select 5s 1;
}

.lawyer-cont{
	position: absolute;
	top: calc(50% - 65px) /*!important;*/
	left: calc(50% - 65px) /*!important;*/
	z-index: 1;
	visibility: hidden; /**/
}

.photo{
	position: relative;
	width: 125px;
	height: 125px;
	background-color: green;
	border-radius: 50%;
	z-index: 1;
}

.name{
	position: absolute;
	top: 105%;
	width: 100%;
	color: #fff;
	background-color: #000;
	text-align: center;
}

.lawyer1{
	top: 100px;
  left: -7px;
}

.lawyer2{
	top: -50px;
  left: 325px;
}

.lawyer2 .photo{
	background-color: red;
}

.lawyer3{
	top: 200px;
  left: 620px;
}

.lawyer3 .photo{
	background-color: yellow;
}

.lawyer4{
	top: 550px;
  left: 515px;
}

.lawyer4 .photo{
	background-color: blue;
}

.lawyer5{
	top: 480px;
  left: 0px;
}

.lawyer5 .photo{
	background-color: purple;
}